* {
    margin:0;
    box-sizing: 0;
}

/*CORPO*/
body {
    color: rgb(255, 255, 255);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/*IMAGEM DO FUNDO*/
body::before {
    background-image: url(../imagens/img-fundo.jpeg);
    content:"";
    background-repeat: no-repeat;
    background-size:contain;
    background-position: center;
    position:fixed;
    z-index: -1;
    height: 100%;
    width: 100%;
    background-color:black;
}

/*FUNDO PRETO*/
.tela-fundo{
    height: 315%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.63);
    z-index: -1;
    position: absolute;
}

/*CONTAINER CONTROLADOR*/
.container-supremo{
    display: flex;
    justify-content: center;
    align-items: center;
}

/*CONTAINER INTERNO*/
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 990px;
}

/*TITULO CR7 AND IMG*/
.titulo {
    text-decoration:underline #d9ad26;
    padding: 2px;
    margin-top: 50px;
    font-family:cursive, 'Kalam', cursive;
    letter-spacing: 2px;
    font-size: 36px;
}
.imagem img {
    margin-top: 100px;
    height: 300px ;
    margin-bottom: 100px;
    border-radius: 30px;
}

/*TODOS OS PARAGRAFOS*/
.paragrafo {
    text-align: center;
    font-size: 25px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight:500;
}

/* SOBRE OS TIMES*/
.descricao-time {
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nomes-times {
    list-style: none;    
    gap:10px;
    width: 650px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 300px;
    padding: 0;
}
.times {
    display: flex;
    text-decoration: none;
    text-align: center;
    justify-content: center;
    color: white;
    font-size: 20px;
    border-radius: 20px;
    width: 200px;
    height: 30px;
    background-color: rgba(54, 48, 48, 0.555);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 10px 0px;
}
nav li a:hover {
    background-color: rgba(231, 231, 231, 0.61);
    transition:.0s;
}
.times-estadia {
    text-align: center;
    font-family:cursive;
    font-size: 13px;
    height: 17px;
    background-image: linear-gradient( to right , rgb(157,24,35), rgb(28,69,47));
    margin-top: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.area-times{
    height: 50px;
}

/*IMAGENS DO CR7*/
.imgs-secundaria {
    display: flex ;
    justify-content: center;
    align-items: center;
    height: 350px;
    margin-bottom: 150px;
    margin-top: 20px;
    padding: 2px;
    gap: 10px;
}
.imgs-secundaria img {
    border-radius: 30px;
    height: 250px;
    width: 350px;
}

/*RODAPÉ*/
.rodape{
    height: 50px;
    text-align: center;
    color: rgb(0, 174, 255);
    align-items: center;
    justify-content: center;
    display: flex;
    font-family: cursive;
}
