@media screen and (min-width: 350px) and (max-width: 600px){
    /*FUNDO ESCURO*/
    .tela-fundo{
        height: 250vw;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.63);
        z-index: -1;
        position: absolute;
    }

    /*CONTAINER CONTROLADOR*/
    .container-supremo{
        padding: 10px;
    }

    .container-externo{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    /*CONTAINER INTERNO*/    
    .container{
        width: 390px;
    }

    /*TITULO E IMAGEM INICIAIS*/
    .titulo {
        font-size: 20px;
        margin-top: 10px;
    }
    .imagem img {
        height: 150px;
        margin-top:5px;
        margin-bottom: 5px;
    }

    /*PARAGRAFOS*/
    .paragrafo {
        font-size: 11px;
    }

    /* SOBRE OS TIMES*/
    .nomes-times {
        list-style: none;    
        gap:10px;
        width: 350px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        height: 250px;
        padding: 0;
    }
    .times {
        font-size:12px;
        width: 110px;
        height: 20px;
    }
    .times-estadia {
        text-align: center;
        width: 110px;
        font-family:cursive;
        font-size: 10px;
        height: 28px;
        background-image: linear-gradient( to right , rgb(157,24,35), rgb(28,69,47));
        margin-top: 3px;
        border-radius: 10px;
    }

    /*FOTOS DO CR7*/
    .imgs-secundaria {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 250px;
        margin: 0;
        padding: 2px;
        gap: 10px;
    }
    .imgs-secundaria img {
        border-radius: 30px;
        height: 130px;
        width: 180px;
    }
}

@media screen and (min-width: 601px) and (max-width: 900px){
    /*FUNDO ESCURO*/
    .tela-fundo{
        height: 250vw;
        width: 100%;
    }
    
    /*CORPO DA PÁGINA*/
    body {
        width: 900px;
    }

    /*CONTAINER CONTROLADOR*/
    .container-supremo{
        padding: 20px;
    }

    /*CONTAINER INTERNO*/
    .container{ 
        width:100%;
    }

    /*TITULO E IMAGEM INICIAL*/
    .titulo {
        font-size: 20px;
        margin-top: 10px;
    }
    .imagem img {
        height: 250px;
        margin-top:5px;
        margin-bottom: 5px;
    }

    /*PARAGRAFOS*/
    .paragrafo {
        font-size: 17px;        
        display: flex;
        justify-content:center;
        align-items: center;
    }

    /* SOBRE OS TIMES*/
    .times {
        font-size: 17px;
        padding: 7px;
        width: 150px;
        height: 20px;
    }

    /*IMAGENS CR7*/
    .imgs-secundaria {
        margin-bottom: 0;
    }
    .imgs-secundaria img {
        height: 170px;
        width: 350px;
    }
}
